.main-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;

  &-body {
    display: flex;
    flex: 1;
    overflow: hidden;
  }

  &-content {
    flex: 1;
    overflow-y: auto;
    background-color: #f8fafc;
  }
}
